$color-lightest: #F5FFF2;
$color-lighter: #EAF9E3;
$color-medium: #C2D1B6;
$color-darker: #6B7C56;
$color-darkest: #22261A;

.container {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(31, 42, 43, 0.25), rgba(31, 42, 43, 0.25)), url('/assets/old_ruston.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-container {
  position: absolute;
  width: 50vh;
  height: 45vh;
  margin: 0 auto;
  top: 7.5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 4vh;
  border-radius: 2vh;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  background-color: transparent;
  animation: fade-in 1s forwards;
  backdrop-filter: blur(1.5vh);
  -webkit-backdrop-filter: blur(1.5vh);
  user-select: none;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 1vh;
  cursor: pointer;
  user-select: none;

  & > mat-form-field {
    width: 100%;
    cursor: pointer;
    user-select: none;

    & > input {
      font-family: 'LibreBaskerville', sans-serif;
      cursor: pointer;
      user-select: none;
    }
  }
}

.input {
  width: 100%;
  height: 5vh;
  color: $color-darker;
  border: none;
  margin-bottom: 0.5vh;
  border-radius: 0.5vh;
  cursor: pointer;
  user-select: none;
}

.form-group label {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.login-register-button {
  width: 100%;
  background-color: $color-darker;
  border: none;
  color: white;
  margin-bottom: 1vh;
  border-radius: 0.5vh;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: darken($color-darker, 10%);
  }
}

.toggle {
  font-family: 'LibreBaskerville', sans-serif;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
