$color-lightest: #F5FFF2;
$color-lighter: #EAF9E3;
$color-medium: #C2D1B6;
$color-darker: #6B7C56;
$color-darkest: #22261A;

.spacing {
  flex: 1 1 auto;
}

.toolbar-custom {
  background-color: $color-darkest;
  color: white;
  user-select: none;
}

.popup {
  background-color: $color-lightest;
  border: 1px solid black;
  padding: 1vh;
  z-index: 4;
  transform: translateY(-5vh);
}
