<div *ngIf="!selectedThread">
  <div class="container min-h-screen flex flex-col w-full bg-base-100">
    <div class="overflow-x-auto min-h-screen flex flex-col w-full bg-base-100">
      <div class="common-container">
        <div class="form-container">
          <form (submit)="addNewThread()">
            <input type="text" name="Title" placeholder="Title" [(ngModel)]="newThreadTitle" required><br />
            <input type="text" name="Tags" placeholder="Tags" [(ngModel)]="newThreadTags" required> <br />
            <textarea placeholder="Content" name="Content" [(ngModel)]="newThreadContent" required></textarea> <br />
            <button class="btn btn-active btn-accent" type="submit">Add Thread</button>
          </form>
        </div>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Post Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let thread of forumThreads" class="hover" (click)="onRowClick(thread)">
                <td>{{ thread.title }}</td>
                <td>{{ thread.tags.join(', ') }}</td>
                <td>{{ formatTimestamp(thread.timeSent) | date: 'medium' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Show a thread's contents when selected -->

  <div *ngIf="selectedThread">
    <div class="container min-h-screen flex flex-col justify-center w-full lg:flex-row bg-base-100">
      <div class="overflow-x-auto min-h-screen flex flex-col justify-center w-full lg:flex-row bg-base-100">
        <div>
          <h2>{{ selectedThread.title }}</h2>
          <p><b>From:</b> {{ selectedThread.publisher }}</p>
          <div class="flex flex-col w-full">
            <div class="divider"></div>
            <div class="grid card bg-base-300 rounded-box height:auto"><b>Message:</b> {{ selectedThread.threadContent }}</div>
            <div class="divider"></div>
          </div>
          <p><b>Time Sent:</b> {{ formatTimestamp(selectedThread.timeSent) | date: 'medium' }}</p>
          <div *ngIf="comments$ | async as comments">
            <h3>Comments:</h3>
            <ul>
              <li *ngFor="let comment of comments">
                <!-- Display comment properties here -->
                <div>{{ comment.userId }}</div>
                <div>{{ comment.messageContent }}</div>
                <div>Sent: {{ comment.timeSent | date: 'medium' }}</div>
              </li>
            </ul>
          </div>
          <form (submit)="addComment()">
            <textarea class="textarea textarea-bordered w-full" name="Comment" placeholder="Type Comment Here" [(ngModel)]="newCommentContent"></textarea>
            <button class="btn btn-active btn-accent" type="Submit"> Add Comment </button><br /><br />
          </form>
          <button class="btn btn-active btn-accent" (click)="resetSelection()">Back to Forum</button>
        </div>
      </div>
    </div>
  </div>
