<!-- APP PARENT CONTAINER -->
<div class="container min-h-screen flex flex-col justify-center  w-full lg:flex-row bg-base-100">
  <div class="overflow-x-auto min-h-screen flex flex-col justify-center  w-full lg:flex-row bg-base-100">
    <table class="table">
      <!-- header -->
      <thead>
        <tr>
          <th>Title</th>
          <td>Most Recent User</td>
          <td>Post Time</td>
        </tr>
      </thead>
      <tbody>
        <ng-container>
        </ng-container>
        <tr class="hover">
          <th>Cy Ganerdton</th>
          <td>Ganerdton</td>
          <td>1 month ago</td>
        </tr>
        <!-- row 2 -->
        <tr class="hover">
          <th>Hart Hagerty</th>
          <td>Hagerty</td>
          <td>2 hours ago</td>
        </tr>
        <!-- row 3 -->
        <tr class="hover">
          <th>Brice Swyre</th>
          <td>Swyre</td>
          <td>Less than a minute ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

