<div class="flex flex-col w-full lg:flex-row bg-base-100">

  <!-- sidebar -->
  <div class="w-1/4 flex flex-col justify-center items-center bg-white">
    <div class="bg-white p-4 flex justify-between items-center">
      <h2 class="text-left">Sidebar</h2>
    </div>
    <app-sidebar></app-sidebar>
  </div>

  <!-- divider between side bar and main content-->
  <div class="divider lg:divider-horizontal"></div>

  <!-- main content -->
  <div class="container">

    <!-- TOP BAR -->
    <div class="bg-white p-4 flex justify-between items-center">
      <div class="w-1/3 justify-center">
        <h2 class="text-left">Explore Page - {{currentPage}} </h2>
      </div>

      <div class="w-2/3 flex justify-end items-center">
        <div class="flex space-x-4">
          <input type="text" id="search" name="search" placeholder="Search..." class="py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" (keyup)="searchFunction($event)">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>

    <!-- CARDS -->
    <div class="flex flex-wrap justify-around items-center">
      <div *ngFor="let card of getDisplayedCards()" class="max-w-sm rounded overflow-auto shadow-lg m-4">
        <img class="w-64 h-48" [src]="card.image" alt="Card image">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ card.animalName }}</div>
          <p class="text-gray-700 text-base">
            Some description for card {{ card.id }}
          </p>
        </div>
      </div>
    </div>

    <!-- BUTTONS FOR NAVIGATION-->
    <div class="join bg-white p-4 flex justify-between items-center">
      <button class="join-item btn" (click)="previousPage()" [disabled]="currentPage === 1">«</button>
      <div class="flex overflow-ellipsis">
        <button class="join-item btn" *ngFor="let page of getVisiblePages()" [disabled]="currentPage === page" (click)="goToPage(page)">{{page}}</button>
      </div>
      <button class="join-item btn" (click)="nextPage()" [disabled]="currentPage === gettotalPages()">»</button>
    </div>


  </div>

</div>
