<div class="flex flex-row h-screen bg-gray-200">
  <!-- sidebar -->
  <div class="w-32 bg-white">
    <!-- increase the width here -->
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>

  </div>

  <!-- main content -->
  <div class="ml-32 w-80 bg-white flex-grow flex flex-col">

    <!-- TOP BAR -->
    <div class="bg-white p-4 flex justify-between items-center">
      <div class="w-1/3 justify-center">
        <h1 class='text-2xl font-semibold mb-2'>Explore Page - {{currentPage}} </h1>
      </div>

      <div class="w-2/3 flex justify-end items-center">
        <div class="flex space-x-4">
          <input type="text" id="search" name="search" placeholder="Search..." class="py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" (keyup)="searchFunction($event)">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>

    <!-- Actual Content -->
    <div class="flex-grow overflow-auto bg-base-200 relative grid grid-cols-4 gap-4 justify-items-center align-items-center" style="margin-left: 1vw; margin-right: 1vh;">
      <div *ngFor="let card of getDisplayedCards()">
        <div class="card w-64 bg-base-100 shadow-xl">
          <figure class="h-1/2"><img class="w-full h-full object-cover" [src]="card.image" alt="Animal" /></figure>
          <div class="card-body">
            <h2 class="card-title">{{ card.animalName }}</h2>
            <p>Some description for card {{ card.id }}</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex bg-white justify-center flex flex-row items-center mt-4 relative w-full">
      <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === gettotalPages()">Next</button>
    </div>


  </div>

</div>
