<div class="container min-h-screen flex flex-col w-full lg:flex-row bg-base-100">

  <!-- sidebar -->
  <div class="w-1/4 h-screen flex flex-col justify-center items-center bg-white">
    <div class="bg-white h-20 p-4 flex justify-between items-center">
      <!-- top bar -->
      <div class="top-bar w-full p-4 flex justify-between items-center">
        <input #contactInput type="text" id="addContact" placeholder="Add Contact" class="py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <button type="submit" class="btn btn-primary" (click)="addContact(contactInput.value)">Add</button>
      </div>
    </div>

    <div class="drawer lg:drawer-open h-full">
      <div class="drawer-content flex flex-col items-center p-2 gap-4 bg-base-200">

        <!-- page content here -->
        <ng-container *ngIf="contacts$ | async as contacts">
          <ng-container *ngFor="let contact of contacts">
            <div class="rounded-box card card-side w-11/12 hover:brightness-90"
                 [class.bg-gray-300]="selectedContact?.userId === contact.userId"
                 [class.bg-gray-100]="selectedContact?.userId !== contact.userId"
                 (click)="selectContact(contact)">
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full" [src]="contact.userImage">
                <div class="flex flex-col">
                  <strong>{{contact.userFirstName}} {{contact.userLastName}}</strong>
                  <span>
                    <p>{{ contact.userBiography | slice:0:20 }}</p>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

    </div>

  </div>

  <!-- divider -->
  <div class="divider lg:divider-horizontal"></div>

  <!-- main content -->
  <div class="w-3/4 h-screen bg-white flex flex-col bg-base-200">

    <!-- TOP BAR -->
    <div class="w-full h-1/8 bg-white flex flex-row justify-between">

      <div *ngIf="selectedContact" class="w-1/3 flex flex-row items-center">

        <div class="flex items-center gap-4 p-4">

          <img class="w-12 h-12 rounded-full" [src]="selectedContact.userImage">

          <div class="flex flex-col">
            <strong>{{selectedContact.userFirstName}} {{selectedContact.userLastName}}</strong>
            <span>
              <p>{{ selectedContact.userBiography | slice:0:20 }}</p>
            </span>
          </div>

        </div>

      </div>

      <div *ngIf="selectedContact" class="w-2/3 flex justify-end">

        <div class="w-full px-6 py-2 items-center">

          <input type="text" id="search" name="search" placeholder="Search..." class="py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <button type="submit" class="btn btn-primary">Search</button>

        </div>

      </div>

    </div>

    <div class="overflow-auto h-5/6 w-11/12 chat-log" style="margin-left: auto; margin-right: auto;" #chatLog>
      <div *ngFor="let message of selectedConversation" class="container h-full w-full flex flex-col px-6 py-2"
           [class.chat-end]="message.senderId == this.messengerService.demoPrimaryUserId"
           [class.chat-start]="message.senderId != this.messengerService.demoPrimaryUserId">
        <div class="chat-header">
          {{ message.senderId == this.messengerService.demoPrimaryUserId ? 'Me' : selectedContact?.userFirstName + ' ' + selectedContact?.userLastName }}
        </div>
        <div class="chat-bubble bg-base-300 text-black">{{ message.messageContent }}</div>
        <div class="chat-footer opacity-50">
          Seen
        </div>
      </div>
    </div>

    <div *ngIf="selectedContact" class="container w-full flex flex-row px-6 py-2">
      <input [(ngModel)]="newMessage" class="py-2 px-3 w-11/12 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Type your message here...">
      <button (click)="sendMessage()" class="btn btn-primary">Send</button>
    </div>

  </div>

</div>

