a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.chat-log {
  display: flex;
  flex-direction: column;
}

.chat-start {
  align-self: flex-end;
}

.chat-end {
  align-self: flex-start;
}

input {
  white-space: nowrap;
  overflow-x: auto;
}
