<app-alerts></app-alerts>
<div class="flex-grow flex flex-col w-full max-h-screen min-w-screen lg:flex-row bg-base-100 p-0 m-0">
  <!-- Sidebar -->
  <div class="w-1/4 h-7/8 flex flex-col overflow-y-auto no-scrollbar">
    <div class="w-full h-1/8 bg-white flex flex-row justify-between">
      <div class="bg-white p-4 flex w-full flex-row justify-between">
        <h2 class="text-left justify-between w-full flex items-center gap-4 p-4">Contacts</h2>
        <div class="bg-white p-4 flex flex-row w-full mr-2 justify-between w-full">
          <input #contactInput type="text" id="addContact" placeholder="Enter contact username..." class="block w-full p-2 gap-4 mr-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
          <button type="submit" class="btn btn-primary" (click)="addContact(contactInput.value)">Add</button>
        </div>
      </div>
    </div>

    <div class="w-full h-7/8 bg-white flex flex-col">
      <div class="carousel carousel-vertical p-4 flex flex-col w-full h-full overflow-y-auto bg-base-200 text-base-content">
        <ng-container *ngIf="contacts$ | async as contacts">
          <ng-container *ngFor="let contact of contacts">
            <a class="carousel-item h-auto max-h-48 btn bg-base-100 p-4 m-2"
               [class.btn-disabled]="selectedContact?.userId === contact.userId"
               [class.btn-active]="selectedContact?.userId !== contact.userId">
              <div class="card card-side w-full h-auto"
                   (click)="selectContact(contact)">
                <div class="flex items-center gap-4 p-4">
                  <img class="w-12 h-12 rounded-full" [src]="contact.userImage" />
                  <div class="flex flex-col">
                    <strong>{{ contact.userFirstName }} {{ contact.userLastName }}</strong>
                    <span>
                      <p>{{ contact.userBiography | slice:0:20 }}</p>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->
  <!-- Divider -->
  <div class="divider lg:divider-horizontal"></div>

  <!-- Main Content -->
  <div class="w-3/4 h-7/8 flex flex-col justify-center items-center bg-base-300">
    <!-- TOP BAR -->
    <div class="w-full h-1/8 bg-white flex flex-row justify-between">
      <div *ngIf="selectedContact" class="w-1/2 flex flex-row items-center">
        <div class="flex items-center gap-4 p-4">
          <img class="w-20 h-20 rounded-full" [src]="selectedContact.userImage">
          <div class="flex flex-col">
            <h2>{{selectedContact.userFirstName}} {{selectedContact.userLastName}}</h2>
            <span>
              <p>{{ selectedContact.userBiography | slice:0:20 }}</p>
            </span>
          </div>
        </div>
      </div>
      <h2 *ngIf="selectedContact" class="text-right justify-between w-1/2 flex items-center gap-4 p-4">
        <input #searchInput type="text" id="searchInput" placeholder="Search messages..." class="block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
        <button type="submit" class="btn btn-primary" (click)="filterMessages(searchInput.value)">Search</button>
      </h2>
    </div>
    <!-- End TOP BAR -->
    <!-- Chat Log -->
    <div class="overflow-y-auto w-full h-5/8 flex flex-col bg-white bg-base-200" #chatLog>
      <ng-container *ngIf="filteredMessages$ | async as messages; else noMessages">
        <div *ngFor="let message of messages" class="h-5/8 w-full flex flex-col px-6 py-2 m-auto"
             [class.chat-end]="message.senderId == this.messengerService.demoPrimaryUserId"
             [class.chat-start]="message.senderId != this.messengerService.demoPrimaryUserId">
          <div class="chat-header">
            {{ message.senderId == this.messengerService.demoPrimaryUserId ? 'Me' : selectedContact?.userFirstName + ' ' + selectedContact?.userLastName }}
          </div>
          <div class="chat-bubble bg-white text-black">{{ message.messageContent }}</div>
          <div class="chat-footer opacity-50">
            Delivered
          </div>
        </div>
      </ng-container>
      <ng-template #noMessages>
        <div>No messages yet</div>
      </ng-template>
    </div>
    <!-- End Chat Log -->
    <!-- Message Input -->
    <div *ngIf="selectedContact" class="justify-between w-full bg-white h-1/8 flex items-center gap-4 p-4">
      <input [(ngModel)]="newMessage" class="block w-full p-2 gap-4 mr-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
      <button (click)="sendMessage()" class="btn btn-primary">Send</button>
    </div>
    <!-- End Message Input -->
  </div>
  <!-- End Main Content -->

</div>
