<div class="flex flex-row h-screen bg-base-200">
  <!-- sidebar -->
  <div class="w-1/4 bg-base-200 flex flex-col gap-4 overflow-y-auto">
    <div class="flex flex-col gap-4">
      <!-- Repeat this block as many times as needed -->

      <!-- NGFOR HERE -->
      <a href="#" class="card card-side w-full bg-gray-100">
        <figure><img src="./assets/pugster.webp" alt="User Icon" class="rounded-full shadow-md h-16 w-16"></figure>
        <div class="card-body whitespace-nowrap overflow-ellipsis" style="align-items: end;">
          <h2 class="card-title">Username</h2>
          <p>Preview Text</p>
        </div>
      </a>

      <!-- Rest of the blocks <a> blocks -->
    </div>
  </div>







  <!-- main content -->
  <div class="w-3/4 bg-white flex-grow flex flex-col">




  </div>

</div>

