<!-- NOTE TO SELF: don't forget to change widget routing later, placeholder atm due to component restrictions '-->
<div class="container min-h-full flex flex-col w-full lg:flex-row bg-base-100">

  <!-- sidebar -->
  <div class="w-1/4 h-full flex flex-col justify-center items-center bg-white">
    <div class="bg-white h-20 p-4 flex justify-between items-center">
      <h2 class="text-left">Map</h2>
    </div>

    <div class="drawer lg:drawer-open h-full">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

      <div class="drawer-side justify-center items-center">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content items-center">

            <div *ngIf="this.showModal" class="card w-full bg-base-100 shadow-xl">

              <div class="card-body">
                <!-- ADDRESS (no names atm?) -->
                <h2 class="card-title">
                  {{this.selectedBeaconData.address}}
                </h2>

                <!-- CAROUSEL -->
                <div class="relative w-full">
                  <div class="carousel w-full">
                    <div *ngFor="let image of images; let i = index" [class.active]="i === currentSlideIndex" class="carousel-item relative w-full">
                      <img [src]="image" class="w-full" />
                      <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-25 top-1/2">
                        <button class="z-10 btn btn-circle" *ngIf="currentSlideIndex >   0" (click)="changeSlide('prev'); $event.stopPropagation()">❮</button>
                      </div>
                      <div class="absolute flex justify-between transform -translate-y-1/2 left-25 right-2 top-1/2">
                        <button class="z-10 btn btn-circle" *ngIf="currentSlideIndex < images.length -   1" (click)="changeSlide('next'); $event.stopPropagation()">❯</button>                      </div>
                    </div>
                  </div>
                </div>


                <!-- BIO -->
                <p>
                  {{this.selectedBeaconData.about}}
                </p>

                <!-- CONTACT INFO AS TAGS -->
                <div class="card-actions flex flex-row">

                  <ng-container *ngFor="let contact of this.selectedBeaconData.contactInformation">
                    <div class="badge badge-outline">
                      {{contact}}
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>

        </ul>

      </div>
    </div>

  </div>

  <!-- divider between side bar and main content-->
  <div class="divider lg:divider-horizontal"></div>

  <!-- main content -->
  <div class="container bg-base-200 h-full flex flex-col">

    <!-- TOP BAR -->
    <div class="w-full h-1/8 bg-white flex flex-row justify-between">

      <div class="bg-white p-4">
        <h2 class="text-left">Map</h2>
      </div>

      <div class="bg-white p-4">
        <button class="btn btn-disabled" onclick="createMapModal.showModal();" (click)="generateUUID();">
          Create
        </button>
      </div>

    </div>

    <!-- MAP CONTAINER -->
    <div class="w-full h-7/8 flex overflow-auto">

      <div id="map" style="height: 100vh; overflow: hidden;"></div>

    </div>

  </div>

</div>

<dialog id="createMapModal" class="modal modal-bottom sm:modal-middle">

  <div class="modal-box flex items-center justify-center">

    <div class="w-1/2 px-4">
      <form  class="flex flex-col items-center">

        <label for="email" class="block text-sm font-medium text-gray-700">Username or Email</label>
        <input type="text" id="email" formControlName="email" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

        <button type="submit" class="btn mt-2 w-full btn-primary">Send Instructions</button>

      </form>

    </div>

    <div class="divider lg:divider-horizontal"></div>

    <div class="w-1/2 px-4">

    </div>

  </div>

</dialog>

