#map {
  flex-grow: 1;
  z-index: 1;
}

p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.30s ease-out;
  max-height: 3em;
}

p:hover {
  overflow: visible;
  white-space: normal;
  max-height: 200px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
