#map {
  flex-grow: 1;
  z-index: 1;
}

p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.30s ease-out;
  max-height: 3em;
}

p:hover {
  overflow: visible;
  white-space: normal;
  max-height: 200px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%; /* Adjust this value according to your sidebar width */
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 10; /* Ensure the form is above other sidebar content */
}

.sidebar-overlay .bg-white {
  position: relative;
  z-index: 11; /* Ensure the form content is above the overlay */
}

