<div class="flex-grow flex flex-col min-h-screen min-w-screen bg-base-200 justify-center items-center">
  <div class="card mx-auto w-full max-w-5xl shadow-xl">
    <div class="grid md:grid-cols-2 grid-cols-1 bg-base-100 rounded-xl">
      <div class="flex items-center justify-center py-24 px-10 bg-neutral">
        <img src="/assets/sheep.svg" alt="Sheep">
      </div>
      <div class="items-center justify-center flex flex-col py-24 px-10">
        <h1 class="mb-5 text-6xl font-bold text-center">Oops!</h1>
        <h3 class="mb-5 text-2xl font-bold text-center">404 - Page Not Found</h3>
        <p class="mb-5 text-lg text-center">Either this page does not exist or you do not have the required permissions to access it.</p>
      </div>
    </div>
  </div>
</div>
