<div class="container min-h-screen bg-base-200 flex items-center">

  <div class="card mx-auto w-full max-w-5xl shadow-xl">

    <div class="grid md:grid-cols-2 grid-cols-1 bg-base-100 rounded-xl">

      <div class="flex items-center justify-center py-24 px-10 bg-primary">
        <img src="/assets/dog.svg" alt="Dog">
      </div>

      <div class='py-24 px-10'>

        <h2 class='text-2xl font-semibold mb-2 text-center'>Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

          <div class="mb-4">
            <label for="usernameoremail" class="block text-sm font-medium text-gray-700">Username or Email</label>
            <input type="text" id="usernameoremail" formControlName="usernameoremail" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <label for="password" class="block mt-4 text-sm font-medium text-gray-700">Password</label>
            <input type="password" id="password" formControlName="password" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class='text-right text-primary'>
            <button class="btn" onclick="forgot_modal.showModal()">
              <a>Forgot Password?</a>
            </button>
            <dialog id="forgot_modal" class="modal modal-bottom sm:modal-middle">
              <div class="modal-box flex items-center justify-center">
                <div class="w-1/2 px-4">
                  <form class="flex flex-col items-center">
                    <input type="text" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <button type="submit" class="btn btn-primary w-full mt-4">Send Instructions</button>
                  </form>
                  <button type="button" class="btn btn-base-100 w-full mt-4" onclick="location.href='/login';">
                    Back to Login
                  </button>
                </div>
                <div class="divider lg:divider-horizontal"></div>
                <div class="w-1/2 px-4">
                  <h2 class="font-bold text-lg" style="text-align: center;">Recover Your Password</h2>
                  <p class="py-4" style="text-align: center;">Please enter the email address associated with your account and we'll send you an email with instructions to reset your password.</p>
                </div>
              </div>
            </dialog>
          </div>

          <button type="submit" class="btn mt-2 w-full btn-primary" routerLink="/dashboard">Login</button>

          <div class='text-center mt-4'>

            Don't have an account yet?

            <a routerLink="/register">
              <span class=" inline-block hover:text-primary hover:underline hover:cursor-pointer transition duration-200">Register</span>
            </a>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
