<div style="height: 100%; width: 100%;">

  <div class="image-container">
    <div class="title">Animal Adopt</div>
  </div>

  <div style="height: 32vh; width: 100%; background-color: #E27396;">

    <div fxLayout="row wrap" fxLayoutGap="12.5%" style="margin-left: 5%; margin-right: 5%;">

      <mat-card class="landing-card-ad" fxFlex="25%">
        <mat-card-header class="card-header">
          <mat-card-title>Adoption Process</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>Learn about the steps involved in the adoption process. From the initial application to meeting your new furry friend, we guide you every step of the way.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="landing-card-ad" fxFlex="25%">
        <mat-card-header class="card-header">
          <mat-card-title>Our Mission</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>Our mission is to create a world where every animal has a loving home. We strive to provide the best care and resources for our animals and their new families.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="landing-card-ad" fxFlex="25%">
        <mat-card-header class="card-header">
          <mat-card-title>Our Impact</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>Dive into the success stories of our adoptees. Their stories are a testament to the love and care we provide to our animals and the joy they bring to their new families.</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="diagonal-split-background" style="height: 62vh; width: 100%; display: flex; justify-content: space-between;">
    <div class="text-card">
      <p style="font-size: 5vh; text-align: center;">
        Meet Percy
      </p>
      <p style="font-size: 3vh; margin-left: 5%; margin-right: 5%;">
        Found wandering the streets, Percy caught the attention of Emma, a compassionate rescuer. Their connection led to Percy finding a forever home filled with love and care. Since adoption, Percy's transformation has been remarkable—his health restored, his dull coat now shining. With Emma's support, Percy has become a local ambassador for adoption, inspiring others to consider giving pets a second chance. Follow Percy's journey and discover the joy of adopting a furry friend in need.
      </p>
      <button mat-button class="rounded-button">Learn More</button>
    </div>
    <div class="image-card">
    </div>
  </div>

  <div style="height: 8vh; width: 100%;"></div>

  <div class="footer-top">
    <div class="footer-section1">Give the Gift of Giving</div>
    <div class="footer-section2">Resources</div>
    <div class="footer-section3">Contact Us</div>
  </div>

  <div class="footer-bottom">
    <div class="custom-divider">

    </div>
    <div class="basic-notice-footer">
      Louisiana Tech University &#64; 2023 | Software Engineering Capstone Project
    </div>
  </div>

</div>
