.image-container {
  background-image: linear-gradient(rgba(31, 42, 43, 0.5), rgba(31, 42, 43, 0.5)), url('/assets/dogs-in-pound.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 60vh;
  width: 100%;
}

.title {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 10vh;
}

.landing-card-ad {
  height: 25vh;
  width: 25vh;
  background-color: #5c6e7f;
  color: white;
  border-radius: 2vh;
  transform: translateY(15%);
}

.card-header, .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-size: 3vh;
}

.card-content {
  font-size: 2.5vh;
}

.text-card {
  width: 40%;
  margin-top: 1.5%;
  height: 60vh;
  border-radius: 2vh;
  margin-left: 10%;
  background-color: #5c6e7f;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.image-card {
  width: 30%;
  height: 60vh;
  margin-top: 1.5%;
  background-image: linear-gradient(rgba(31, 42, 43, 0.25), rgba(31, 42, 43, 0.25)), url('/assets/pugster.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2vh;
  margin-right: 10%;
}

.diagonal-split-background {
  background-color: #1f2a2b;
  background-image: -webkit-linear-gradient(105deg, #aaafc2 50%, #1f2a2b 50%);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: 25vh;
  width: 100%;
  background-color: #5c6e7f;
  justify-content: center;
  align-items: center;
}

.footer-section1 {
  width: 40%;
  color: white;
  font-size: 5vh;
  margin-left: 10%;
}

.footer-section2, .footer-section3 {
  width: 15%;
  color: white;
  font-size: 3vh;
  margin-right: 10%;
}

.footer-bottom {
  height: 10vh;
  width: 100%;
  background-color: #5c6e7f;
  justify-content: center;
  align-items: center;
}

.custom-divider {
  width: 80%;
  height: 0.5vh;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.25vh;
}

.basic-notice-footer{
  margin-top: 1.5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 2.25vh;
}

.rounded-button {
  margin-right: 5%;
  color: white;
  background-color: #1f2a2b;
  font-size: 2vh;
  border-radius: 0.5vh;
  transition: background-color 0.1s ease-in-out;
  float: right;
  transform: translateY(-2vh);
}

.rounded-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.animals-explore-page-cards {
  height: 50vh;
  width: 40vh;
  background-color: #5c6e7f;
  color: white;
  border-radius: 2vh;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.animals-explore-page-cards:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

mat-card img {
  object-fit: cover;
  width: 100%;
  max-height: 20vh;
}

.example-full-width {
  width: 90%;
}

.side-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5c6e7f;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-content: center;
  align-items: center;
}


animal-page-card {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #1f2a2b;
  background-image: -webkit-linear-gradient(105deg, #aaafc2 50%, #1f2a2b 50%);
}

.rounded-image {
  border-radius: 4vh;
  height: 50vh;
  width: 50vh;
}
