<!-- NOTE TO SELF: don't forget to change widget routing later, placeholder atm due to component restrictions '-->
<div class="container min-h-screen  flex flex-col w-full lg:flex-row bg-base-100">

  <!-- sidebar -->
  <div class="w-1/4 flex flex-col justify-center items-center bg-white">

    <div class="bg-white p-4 flex justify-between items-center">
      <h2 class="text-left">Sidebar</h2>
    </div>

    <div class="drawer lg:drawer-open">

      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center">

        <!-- page content here -->
        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>

      </div>

      <div class="drawer-side">

        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">

          <!-- sidebar content here -->
          <li><a (click)="selectedTab='profile'">Profile</a></li>
          <li><a (click)="selectedTab='account'">Account</a></li>

        </ul>

      </div>

    </div>

  </div>
  <!-- end sidebar -->
  <!-- divider between side bar and main content-->
  <div class="divider lg:divider-horizontal"></div>

  <!-- main content -->
  <div class="container">

    <!-- TOP BAR -->
    <div class="bg-white p-4 flex justify-between items-center">
      <div class="w-1/3 justify-center">
        <h2 class="text-left">{{selectedTab}}</h2>
      </div>
    </div>

    <!-- PROFILE TAB CONTENT -->
    <div *ngIf="selectedTab=='profile'" class="p-6 container">
      <!-- profile tab content -->
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="card max-h-60">
        <div class="card-body">

          <div class="form-control">
            <label class="label" for="userImage">Photo</label>
            <div class="mt-2 flex items-center gap-x-3">
              <div class="avatar">
                <figure class="w-16 h-16">
                  <img [src]="(profileForm.get('userImage')?.value ?? '')" alt="User Photo">
                </figure>
              </div>
              <input type="file" class="file-input w-full max-w-xs" id="imageUpload" hidden (change)="updatePhoto($event)" />
              <label for="imageUpload">Change</label>
            </div>
          </div>

          <div class="form-control">
            <label class="label" for="userFirstName">First Name</label>
            <input type="text" formControlName="userFirstName" id="userFirstName" class="input input-bordered">
          </div>

          <div class="form-control">
            <label class="label" for="userLastName">Last Name</label>
            <input type="text" formControlName="userLastName" id="userLastName" class="input input-bordered">
          </div>

          <div class="form-control">
            <label class="label" for="userEmail">Email</label>
            <input type="email" formControlName="userEmail" id="userEmail" class="input input-bordered">
          </div>

          <div class="form-control">
            <label class="label" for="userDisplayName">Display Name</label>
            <input type="text" formControlName="userDisplayName" id="userDisplayName" class="input input-bordered">
          </div>

          <div class="form-control">
            <label class="label" for="userBiography">Biography</label>
            <textarea formControlName="userBiography" id="userBiography" class="input input-bordered"></textarea>
          </div>

          <div class="form-control mt-4 flex flex-row">
            <button type="submit" class="btn btn-accent">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>

    <!-- ACCOUNT TAB CONTENT (PLACEHOLDER) -->
    <div *ngIf="selectedTab=='account'" class="p-6 container">
      <!-- account tab content -->
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          
          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userPassword">Password</label>
            <input type="text" formControlName="userPassword" id="userPassword" class="input input-bordered" style="flex-grow: 1;">
            <button>Change</button>
          </div> 


          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userFirstName">First Name</label>
            <input type="text" formControlName="userFirstName" id="userFirstName" class="input input-bordered" style="flex-grow: 1;">
            <button>Change</button>
          </div>

          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userLastName">Last Name</label>
            <input type="text" formControlName="userLastName" id="userLastName" class="input input-bordered">
            <button>Change</button>
          </div>

          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userEmail">Email</label>
            <input type="email" formControlName="userEmail" id="userEmail" class="input input-bordered">
            <button>Change</button>
          </div>

          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userDisplayName">Display Name</label>
            <input type="text" formControlName="userDisplayName" id="userDisplayName" class="input input-bordered">
            <button>Change</button>
          </div>

          <div class="form-control" style="width: 80%; display: flex; justify-content: space-between;">
            <label class="label" for="userBiography">Biography</label>
            <textarea formControlName="userBiography" id="userBiography" class="input input-bordered"></textarea>
            <button>Change</button>
          </div>

          <div class="form-control mt-4 flex flex-row">
            <button type="submit" class="btn btn-accent">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>


        <!-- ACCOUNT FORM FIELDS-->

      </form>


    </div>

    <!-- add more divs for more tabs -->

  </div>
</div>
