<app-alerts></app-alerts>
<div class="flex-grow flex flex-col min-h-screen min-w-screen bg-base-200 justify-center items-center">

  <div class="card mx-auto w-full max-w-5xl shadow-xl">

    <div class="grid md:grid-cols-2 grid-cols-1 bg-base-100 rounded-xl">

      <div class="flex items-center justify-center bg-secondary">
        <img src="/assets/cat.svg" alt="Cat">
      </div>

      <div class='py-12 px-10 items-center'>

        <h2 class='text-2xl font-semibold mb-2 text-center'>Register</h2>

        <div class="w-full mt-2">

          <form [formGroup]="registerForm">

            <div class="container w-full">

              <!-- INFORMATION SCREEN-->
              <div class="container w-full h-96 items-center mt-4" *ngIf="!this.profileSetupToggle">

                <!-- Row 1 -->
                <div class="flex justify-between">
                  <div class="w-full pr-2">
                    <label for="username" class="block mt-4 text-sm font-medium text-text-black">Username</label>
                    <input type="text" id="username" formControlName="username" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-red-500 text-xs mt-1">
                      Username must contain 3+ characters.
                    </div>
                  </div>
                </div>
                <!-- Row 2 -->
                <div class="flex justify-between mt-4">
                  <div class="w-1/2 pr-2">
                    <label for="password" class="block mt-4 text-sm font-medium text-text-black">Password</label>
                    <input type="password" id="password" formControlName="password" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-xs mt-1">
                      Password must contain 8+ characters.
                    </div>
                  </div>
                  <div class="w-1/2 pl-2">
                    <label for="passwordCheck" class="block mt-4 text-sm font-medium text-text-black">Password Check</label>
                    <input type="password" id="passwordCheck" formControlName="passwordCheck" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('passwordCheck')?.invalid && registerForm.get('passwordCheck')?.touched && registerForm.get('password') !== registerForm.get('passwordCheck')" class="text-red-500 text-xs mt-1">
                      Password must match.
                    </div>
                  </div>
                </div>
                <!-- Row 3 -->
                <div class="flex justify-between mt-4">
                  <div class="w-1/2 pr-2">
                    <label for="firstname" class="block mt-4 text-sm font-medium text-text-black">First Name</label>
                    <input type="text" id="firstname" formControlName="firstname" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched" class="text-red-500 text-xs mt-1">
                      First name is required.
                    </div>
                  </div>
                  <div class="w-1/2 pl-2">
                    <label for="lastname" class="block mt-4 text-sm font-medium text-text-black">Last Name</label>
                    <input type="text" id="lastname" formControlName="lastname" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched" class="text-red-500 text-xs mt-1">
                      Last name is required.
                    </div>
                  </div>
                </div>
                <!-- Row 4 -->
                <div class="flex justify-between mt-4">
                  <div class="w-1/2 pr-2">
                    <label for="email" class="block mt-4 text-sm font-medium text-text-black">Email</label>
                    <input type="email" id="email" formControlName="email" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
                      Email is required.
                    </div>
                  </div>
                  <div class="w-1/2 pl-2">
                    <label for="phonenumber" class="block mt-4 text-sm font-medium text-text-black">Phone Number</label>
                    <input type="tel" id="phonenumber" formControlName="phonenumber" class="mt-4 block w-full p-2 border border-black rounded-md shadow-sm focus:outline-none focus:ring-bg-primary focus:border-bg-primary sm:text-sm">
                    <div *ngIf="registerForm.get('phonenumber')?.invalid && registerForm.get('phonenumber')?.touched" class="text-red-500 text-xs mt-1">
                      Phone number is required.
                    </div>
                  </div>
                </div>

              </div>

              <!-- PICTURE SCREEN-->
              <div class="container w-full h-96 items-center mt-4" *ngIf="this.profileSetupToggle">

                <div class="flex mx-auto my-auto">

                  <!-- Image Selection -->
                  <div class="w-1/2 p-4 h-full">
                    <h2 class="text-2xl font-semibold mb-2 text-center">Choose Avatar</h2>
                    <div class="flex flex-col items-center">

                      <!-- Default Images -->
                      <div *ngFor="let imageUrl of defaultImages; let i = index" class="cursor-pointer">
                        <img [src]="imageUrl" (click)="onImageSelected(imageUrl)" class="avatar w-16 h-16 rounded-full object-cover mt-2">
                      </div>

                      <!-- Upload Image -->
                      <label class="btn btn-secondary mt-8" for="uploadImage">
                        Upload Image
                        <input type="file" id="uploadImage" (change)="onFileSelected($event)" class="hidden" accept="image/*">
                      </label>
                    </div>

                  </div>

                  <div class="divider divider-horizontal divider-accent"></div>

                  <!-- Image Preview -->
                  <div class="w-1/2 p-4 items-center text-center">
                    <h2 class="text-2xl font-semibold mb-2 text-center">Profile Preview</h2>
                    <div class="avatar">
                      <div class="mb-4">
                        <img [src]="tempImageUrl || defaultImages[0]" class="w-32 h-32 rounded-full object-cover">
                      </div>
                    </div>
                    <p>{{ registerForm.get('username')?.value }}</p>
                  </div>

                </div>
              </div>
            </div>

            <div class="container w-full mt-8">

              <div class="container w-full flex justify-between mt-2" *ngIf="!this.profileSetupToggle">
                <button (click)="this.profileSetupToggle = !this.profileSetupToggle" class="btn btn-neutral w-full ml-auto" [disabled]="registerForm.invalid || !registerForm.touched && registerForm.get('password') !== registerForm.get('passwordCheck')">Next</button>
              </div>

              <div class="container w-full flex justify-between mt-2" *ngIf="this.profileSetupToggle">
                <button (click)="this.profileSetupToggle = !this.profileSetupToggle" class="btn btn-neutral w-1/2 mr-auto">Previous</button>
                <button type="submit" class="btn btn-primary w-1/2 mr-auto" (click)="onRegisterSubmit()" [disabled]="registerForm.invalid || !registerForm.touched || !tempImageUrl && !usingDefaultImage">Register</button>
              </div>

              <div class='text-center mt-4'>
                Already have an account?
                <a routerLink="/login">
                  <span class=" inline-block hover:underline hover:cursor-pointer transition duration-200">Login</span>
                </a>
              </div>

            </div>

          </form>
        </div>

      </div>

    </div>
  </div>

</div>
