<div class="min-h-screen bg-base-200 flex items-center">
  <div class="card mx-auto w-full max-w-5xl shadow-xl">
    <div class="grid md:grid-cols-2 grid-cols-1 bg-base-100 rounded-xl">
      <div class="flex items-center justify-center py-24 px-10 bg-accent">
        <img src="/assets/cat.svg" alt="Cat">
      </div>
      <div class='py-24 px-10'>
        <h2 class='text-2xl font-semibold mb-2 text-center'>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
          <div class="mb-4">
            <!-- Row 1 -->
            <div class="flex justify-between">
              <div class="w-1/2 pr-2">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" formControlName="username" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div class="w-1/2 pl-2">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" formControlName="password" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
            <!-- Row 2 -->
            <div class="flex justify-between mt-4">
              <div class="w-1/2 pr-2">
                <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
                <input type="text" id="firstname" formControlName="firstname" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div class="w-1/2 pl-2">
                <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
                <input type="text" id="lastname" formControlName="lastname" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
            <!-- Row 3 -->
            <div class="flex justify-between mt-4">
              <div class="w-full pr-2">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" formControlName="email" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
            <!-- Row 4 -->
            <div class="flex justify-between mt-4">
              <div class="w-full pr-2">
                <label for="phonenumber" class="block text-sm font-medium text-gray-700">Phone Number</label>
                <input type="tel" id="phonenumber" formControlName="phonenumber" class="mt-4 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
          </div>
          <button type="submit" class="btn mt-2 w-full btn-accent">Register</button>
          <div class='text-center mt-4'>
            Already have an account?
            <a routerLink="/login">
              <span class=" inline-block hover:text-primary hover:underline hover:cursor-pointer transition duration-200">Login</span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
