a {
  transition: opacity 0.5s ease;
}

a:hover {
  opacity: 0.5;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
    z-index: 2;
  }

  75%{
      z-index: 1;
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-2 {
  0% {
    transform: translateX(100%);
    z-index: 1;
  }

  75% {
    z-index: 2;
  }

  100% {
    transform: translateX(0%);
  }
}

.parent {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
  white-space: nowrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.child {
  flex: 0 0 auto;
  scroll-behavior: smooth;
  animation: marquee 20s linear infinite;
}

.child-2 {
  flex: 0 0 auto;
  scroll-behavior: smooth; 
  animation: marquee-2 20s linear infinite;
}

