<!-- NOTE TO SELF: don't forget to change widget routing later, placeholder atm due to component restrictions '-->
<h2 class="text-center mb-4">Widgets</h2>
<div class="container mx-auto px-4 flex items-center justify-center min-h-screen">
  <div class="grid grid-cols-2 gap-6">
    <!-- Explore Card -->
    <a routerLink="/login">
      <div class="card card-side w-96 h-48 bg-base-100 shadow-xl">
        <figure class="relative">
          <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 opacity-50"></div>
          <img src="assets/explore.gif" alt="Explore" class="w-full h-full object-cover">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Explore</h2>
          <p>Some text about explore...</p>
        </div>
      </div>
    </a>

    <!-- Forums Card -->
    <a routerLink="/login">
      <div class="card card-side w-96 h-48 bg-base-100 shadow-xl">
        <figure class="relative">
          <div class="absolute inset-0 bg-gradient-to-r from-orange-300 to-orange-600 opacity-50"></div>
          <img src="assets/forums.gif" alt="Forums" class="w-full h-full object-cover">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Forums</h2>
          <p>Some text about forums...</p>
        </div>
      </div>
    </a>

    <!-- Messenger Card -->
    <a routerLink="/messenger">
      <div class="card card-side w-96 h-48 bg-base-100 shadow-xl">
        <figure class="relative">
          <div class="absolute inset-0 bg-gradient-to-r from-green-300 to-green-600 opacity-50"></div>
          <img src="assets/chat.gif" alt="Messenger" class="w-full h-full object-cover">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Messenger</h2>
          <p>Some text about messenger...</p>
        </div>
      </div>
    </a>

    <!-- Scheduler Card -->
    <a routerLink="/login">
      <div class="card card-side w-96 h-48 bg-base-100 shadow-xl">
        <figure class="relative">
          <div class="absolute inset-0 bg-gradient-to-r from-pink-300 to-pink-600 opacity-50"></div>
          <img src="assets/calendar.gif" alt="Scheduler" class="w-full h-full object-cover">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Scheduler</h2>
          <p>Some text about scheduler...</p>
        </div>
      </div>
      </a>
  </div>
</div>
