/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  color: #efcfe3;
  background-color: #efcfe3 !important;
}

* {
  box-sizing: border-box;
  box-shadow: none;
}
